// Base Colors //

$cl-black: black;
$cl-grey: grey;
$cl-white: white;
$cl-red: red;
$cl-green: green;
$cl-blue: blue;
$cl-yellow: yellow;
$cl-orange: orange;
$cl-purple: purple;
$cl-lightgrey: lightgrey;
$cl-whitesmoke: whitesmoke;

// Width Sizes for Mobile Breakpoints by px //
$wd-px-s: 576px;
$wd-px-m: 768px;
$wd-px-l: 992px;
$wd-px-xl: 1200px;
$wd-px-xxl: 1400px;